!default.xcworkspace
!default.mode1v3
!default.mode2v3
!default.pbxuser
*.perspectivev3
profile
xcuserdata
.idea/*

#Cocoa pods
*.old
Pods/*

#cocos2d-x
libs/
bin/
obj/
assets/
gen/
out/
.classpath
.project
.cproject

# backup files
*.bak
*.bak[0-9][0-9]
*.orig
*.orig[0-9][0-9]

# source packages - anywhere
*.tar.bz2
*.tar.gz
*.tar
*.tgz
*.gtgz

# platforms and some others added by myself
cocos2d/
proj.*
!proj.android
proj.android/obj
proj.android/.externalToolBuilders/
proj.android/.settings/
proj.android/ant.properties
proj.android/build-cfg.json
proj.android/build.xml
proj.android/jni/hellocpp/
proj.android/local.properties
proj.android/proguard-project.txt
proj.android/project.properties
proj.android/res/
proj.android/src/
